<h1>Specialists#index</h1>
<p>Find me in app/views/specialists/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialists.each do |specialist| %>
      <tr>
        <td><%= specialist.name %></td>
        <td><%= specialist.expertise_property %></td>
        <td><%= specialist.consultation_item %></td>
        <td><%= specialist.qualification %></td>
        <td><%= specialist.description %></td>
        <td><%= specialist.career %></td>
        <td><%= specialist.icon %></td>
        <td><%= specialist.string %></td>
     </tr>
    <% end %>
  </tbody>
</table>
