<h1>Specialists#show</h1>
<p>Find me in app/views/specialists/show.html.erb</p>

<%= @specialist.name %>
<%= @specialist.expertise_property %>
<%= @specialist.consultation_item %>
<%= @specialist.qualification %>
<%= @specialist.description %>
<%= @specialist.career %>
<%= @specialist.icon %>
<%= @specialist.icon %>
<%= @specialist.id %>
