<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件種類 %>
    <%= form.text_field :property_type %>
  </div>

  <div class="field">
    <%= form.label :新築戸建 %>
    <%= form.check_box :newly_built_house, {}, checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :中古戸建 %>
    <%= form.check_box :used_house, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :新築マンション %>
    <%= form.check_box :newly_built_condominium, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :中古マンション %>
    <%= form.check_box :used_condominium, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :土地のみ %>
    <%= form.check_box :land, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :価格・返済 %>
    <%= form.check_box :price_and_pepayment, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :建物・構造 %>
    <%= form.check_box :building_and_structure, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :間取り %>
    <%= form.check_box :floor_plan, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :周辺環境 %>
    <%= form.check_box :surrounding_environment, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :家族・親族 %>
    <%= form.check_box :family_relatives, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :その他の点 %>
    <%= form.check_box :other_point, {},checked_value='1', unchecked_value='0' %>
  </div>

  <div class="field">
    <%= form.label :都道府県 %>
    <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "---"} ) %>
  </div>

  <div class="field">
    <%= form.label :物件URL %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :その他 %>
    <%= form.text_field :other %>
  </div>

  <div class="field">
    <%= form.label :取扱会社 %>
    <%= form.text_field :trader %>
  </div>

  <div class="field">
    <%= form.label :販売価格（業者からの提案価格） %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
