<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件種類 %>
    <%= form.text_field :property_type %>
  </div>

  <div class="field">
    <%= form.label :物件URL %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :その他 %>
    <%= form.text_field :other %>
  </div>

  <div class="field">
    <%= form.label :取扱会社 %>
    <%= form.text_field :trader %>
  </div>

  <div class="field">
    <%= form.label :販売価格（業者からの提案価格） %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
