<h1>Properties#ranking</h1>
<%= @property.id %><br>
<%= p @new_scores %><br>
<%= p @new_specialist_ids %><br>

  <div class="green">
  <h3>オススメの専門家が5名見つかりました</h3>
  </div>

  <div class="specialist">
  <% @best_specialists.each do |specialist| %>
    <div class="chunk">
      <div class="icon"><p>アイコン</p><%= specialist.icon %></div>

      <div class="short">
        <div class="field">
          <p>氏名</p><%= specialist.name %>
        </div>

        <div class="field">
          <p>得意な物件</p><%= specialist.expertise_property %>
        </div>

        <div class="field">
          <p>相談可能項目</p><%= specialist.consultation_item %>
        </div>

        <div class="field">
          <p>資格</p><%= specialist.qualification %>
        </div>
      </div>

      <div class="long">
        <div class="field">
          <p>自己紹介</p><%= specialist.description %>
        </div>

        <div class="field">
          <p>経歴</p><%= specialist.career %>
        </div>
      </div>

      <div class="btn">
        <%# <%= form.radio_button :specialist_id, specialist.id %> %>
        <%= specialist.id %>
        <%= link_to '相談を申し込む', class: "next" %>
      </div>
    </div>
  <% end %>