<%= form_with(model: @customer, local: true ) do |form| %>

  <div class="green">
  <h3>オススメの専門家が5名見つかりました</h3>
  </div>

  <div class="specialist">
  <% @specialists.each do |specialist| %>
    <div class="chunk">
      <div class="icon"><p>アイコン</p><%= specialist.icon %></div>

      <div class="short">
        <div class="field">
          <p>氏名</p><%= specialist.name %>
        </div>

        <div class="field">
          <p>得意な物件</p><%= specialist.expertise_property %>
        </div>

        <div class="field">
          <p>相談可能項目</p><%= specialist.consultation_item %>
        </div>

        <div class="field">
          <p>資格</p><%= specialist.qualification %>
        </div>
      </div>

      <div class="long">
        <div class="field">
          <p>自己紹介</p><%= specialist.description %>
        </div>

        <div class="field">
          <p>経歴</p><%= specialist.career %>
        </div>
      </div>

      <div class="btn">
        <%= form.radio_button :specialist_id, specialist.id %>
        <%= specialist.id %>
        <%= link_to '相談を申し込む', class: "next" %>
      </div>
    </div>
  <% end %>


  <!-- <div class="specialist"> -->
    <%#= @specialist.name %>
    <%#= @specialist.expertise_property %>
    <%#= @specialist.consultation_item %>
    <%#= @specialist.qualification %>
    <%#= @specialist.description %>
    <%#= @specialist.career %>
    <%#= @specialist.icon %>
    <%#= @specialist.icon %>
    <%#= @specialist.id %>
  <!-- </div> -->


  <h3>専門家に相談するためお客様情報をご記入ください</h3>
  <%= form_with(model: @customer, local: true ) do |form| %>
    <div class="field">
      <%= form.label :氏名（必須）, class: "label" %>
      <%= form.text_field :name, class: "input", placeholder:"家野始真理" %>
    </div>

    <div class="field">
      <%= form.label :メールアドレス（必須）, class: "label" %>
      <%= form.text_field :mail, class: "input", placeholder:"◯◯◯◯@mail.com" %>
    </div>
  <% end %>

  <div class="message">
    <p>お客様のご相談内容に対して、</p>
    <p>専門家が24時間以内に</p>
    <p>登録したメールアドレス宛に</p>
    <p>回答をお送りします。</p>
  </div>

  <div class="privacy_policy">
    ㈱エンサポートのプライバシーポリシーは
    <%= link_to "こちら" %>
  </div>

  <div class="btn">
    <%= form.submit "プライバシーポリシーに同意して専門家に相談内容を送る", class: "next" %>
  </div>

<% end %>
